language: node_js
node_js:
  - 9
  - 8
  - 6
  - 4

env:
  - NODE_ENV=development

before_install:
  - npm i -g codecov

install:
  - npm install

script:
  - npm test
  - codecov

notifications:
  email: false
